################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ForJenkins/.vs/ForJenkins/v15/.suo
/ForJenkins/ForJenkins/obj/Debug/CoreCompileInputs.cache
/ForJenkins/ForJenkins/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ForJenkins/ForJenkins/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ForJenkins/ForJenkins/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ForJenkins/ForJenkins/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ForJenkins/ForJenkins/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ForJenkins/ForJenkins/obj/Debug/CoreCompileInputs.cache
/ForJenkins/ForJenkins/bin/Release/ForJenkins.exe
/ForJenkins/ForJenkins/obj/Release/ForJenkins.pdb
/ForJenkins/ForJenkins/obj/Release/ForJenkins.exe
/ForJenkins/ForJenkins/obj/Release/ForJenkins.csprojResolveAssemblyReference.cache
/ForJenkins/ForJenkins/obj/Release/ForJenkins.csproj.FileListAbsolute.txt
/ForJenkins/ForJenkins/obj/Release/CoreCompileInputs.cache
/ForJenkins/ForJenkins/obj/Release
/ForJenkins/ForJenkins/bin/Release/ForJenkins.pdb
/ForJenkins/ForJenkins/bin/Release/ForJenkins.exe.config
/ForJenkins/ForJenkins/bin/Release/ForJenkins.exe
